#successPage{
  display: none;
}
#successPage.active{
  padding: 1.5rem;
  background-color: white;

  display: grid;
  grid-template-rows: 1fr 2fr 0.55fr;
  gap: 2rem;
}
#successPageContent{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  color: hsl(234, 29%, 20%);
}
#successPageHeading{
  font-weight: 700;
}
#confirmationMsg{
  font-size: 0.9rem;
}
#userEmailConfirmation{
  font-weight: 700;
}
#dismissBtn{
  width: 100%;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: hsl(234, 29%, 20%);
  background-image: none;
  transition: background-image 0.2s ease-in-out;

  cursor: pointer;
}

@media(max-width: 375px){
  #successPage.active{
    height: 100dvh;
  }
  #tickSVG{
    align-self: end;
  }
  
  #successPageHeading{
    font-size: 2.25rem;
  }
}

@media(min-width: 376px){
  #successPage.active{
    width: 25rem;
    padding: 3rem;
    grid-template-rows: 64px 2fr 0.55fr;

    border-radius: 40px;
  }
  #successPageHeading{
    font-size: 3.5rem;
  }
  #confirmationMsg{
    line-height: 1.5rem;
  }
  #dismissBtn:focus{
    background-image: linear-gradient(to right, hsl(352, 91%, 65%), hsl(12, 100%, 62%));
    box-shadow: 0 5px 15px hsl(4, 100%, 67%);
    transition: background-image 0.2s ease-in-out;
  }
  #dismissBtn:hover{
    background-image: linear-gradient(to right, hsl(352, 91%, 65%), hsl(12, 100%, 62%));
    box-shadow: 0 5px 15px hsl(4, 100%, 67%);
    transition: background-image 0.2s ease-in-out;
  }
}